/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --dark: #252422;
  --mid: #eb5e28;
  --light: #ccc5b9;
  --white: #fffcf2;
  --mainfont: 'Dosis', sans-serif;
}
body{
  background-color: var(--white);
}
/* Nav */
.navmain{
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  padding: 30px;
  background-color: var(--dark);
  /* color:var(--mid); */
  font-family: var(--mainfont);
}
.MNtitle{
  display: flex;
  color: var(--mid);
  cursor: default;
}
#search-form{
  /* background-color: var(--white); */
  padding: 10px;
}
.form-control{
  height: 30px;
  transition: all 0.3s ease;
  padding-left: 30px;
  border: none;
  background-color: var(--white);
}
.form-control:hover{
  background-color: var(--light);
}
.submit-btn{
  border: none;
  margin-left: 5px;
  width: 50px;
  height: 30px;
  background-color: var(--mid);
  color: var(--dark);
  font-family: var(--mainfont);
  font-weight: bolder;
  cursor: pointer;
  transition: all 0.3s ease;
}
.submit-btn:hover{
  background-color: var(--light);
}
/* main */
.movieContainer{
  background-color: var(--white);
  padding: 30px;
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  font-family: var(--mainfont);
}
.newMovieItem{
  background-color: var(--dark);
  width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 15px;
  margin: 8px;
  transition: all ease 0.3s ;
  color: var(--white);
}
.newMovieItem:hover{
  box-shadow: black 0 0 10px 1px;
}
.poster{
  margin: auto;
  display:flex;
  height:667px;
  width:450px;
  border-radius: 15px;
  transition: all ease 0.3s ;
}
.poster:first-child{
  margin-top: 10px;
}
.movietitle{
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.description{
  display: flex;
  justify-content: center;
  justify-self: center;
  padding-bottom: 5px;
}
/* review list */
.reviewContainer{
  display: none;
  margin-bottom: 10px;
}
.reviewList{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}
.publisher{
  color: var(--mid);
}
.quote{
  color: var(--mid);
  font-size: larger;
}
.detail-view{
  display: inline-flex;
  width: auto;
}
.detail-btn, 
.random-btn{
  background-color: var(--mid);
  width: 50px;
  height: 30px;
  padding-left:10px ;
  padding-right: 10px; 
  transition: all ease 0.3s ;
}
.detail-btn:hover,
.random-btn:hover{
  background-color: var(--light);
}
.tenor-gif{
  width: auto;
}






